
    body {
      background-color: aliceblue;
      padding: 30px;
    }

    #logo {
      font-family: 'Indie Flower', cursive, sans-serif;
      font-size: 42px;
      font-weight: 1000;
      color: green;
      text-align: center;
      text-decoration: none;
      vertical-align:middle;
      margin-left:20px;
    }
    #logoImg {
      width:60px;
      height:auto;
    }
    .collapse navbar-collapse {
      float: right;
    }
    
    .navbar-right {
      float:right;
    }


    #map-section {
      margin-top: 0px;
      padding-bottom: 6em;
      background-image: url("../images/paper.jpg");
    }

    #wrapper1 {
      padding-top: 45px;
    }

    #map {
      padding-right: 100px;
      margin-right: 100px;
      width: 55%;
      height:600px;
      float: right;
    }

    #wrapper2 {
      padding-top: 5px;
      padding-left: 100px;
      padding-right: 10px;
      float: left;
      width: 35%;
    }

    #pac-input {
      height: 30px;
      width: 350px;
      font-size: 15px;
    }

    .btn {
      float: left;
      height: 35px;
      width: 80px;
      font-size: 15px;
    }

    #drivingDirections {
      padding-left: 60px;
      float: left;
      font-weight: bold;
      position: absolute;
      top: 290px;
      left: 250px;
      font-size: 18px;
    }

    a {
      color: black;
    }

    a:hover {
      color: blue;
    }

    #wrapper3 {
      padding-top: 30px;
      padding-left: 100px;
      padding-right: 10px;
      height: 400px;
      width: 500px;
      overflow: scroll;
    }

    .business-name {
      font-weight: bold;
      size: 1000px;
    }
