#ingredients {
    border-left: none;
    border-right: none;
    border-radius: 0;
    height: 50px;
    font-size: 25px;
    font-weight: 100;
    background-color: white;
}

div.form-group {
    margin-top: 50px;
}

#ingredients:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: white;
}

/* #ingredients:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
} */

#submitButton, #resetButton {
    margin-top: 55px;
    background-color: #4f7a0d;
    color: white;
}

#submitButton:active, #resetButton:active {
    outline: none;
    border: none;
}

.amountRow {
    border-top: 2px solid;
    border-top-color: #4f7a0d;
}

.tableHeader {
    background-color: #4f7a0d;
    color: white;
}

.table td, .table th, .table thead th  {
    border-bottom: none;
    border-top: none;
}

.itemBorder {
    border-right: 1px solid #4f7a0d;

}

#mainComponent {
    margin-top: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4f7a0d;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    font-weight: bold;
    color: #4f7a0d;
}