#logo {
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 50px;
  font-weight: 1000;
  color: green;
  text-align: center;
  text-decoration: none;
  vertical-align:middle;
  margin-left:20px;
}
#logoImg {
	width:60px;
	height:auto;
}
.collapse navbar-collapse {
  float: right;
  
}


.navbar-right {
  float:right;
  font-size: 20px;
  
}


#photos {
  /* Prevent vertical gaps */
  margin-top:30px;
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: 175px !important;
}


.navbar-light .navbar-nav .nav-link {
  color: #4f7a0d;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  font-weight: bold;
  color: #4f7a0d;
}





@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

